a.btnAndSbt{
    margin-top:120px;
    margin-left:10%;
}

section#listGestionnaire{
    min-height: 100vh;
    margin-bottom:100px;
}

.center h1{
    margin: 20px  10% 0;
    width: 80%;
    max-width: 1000px;

    text-align: center;
}

form *.btnAndSbt{
    margin: auto;
    margin-top: 30px;
}

.formElt{
    display:flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: 10%;
}