a.btnAndSbt{
    margin-top:120px;
    margin-left:10%;
}

section#part1{
    min-height: 100vh;
    margin-bottom:100px;
}

section#part1 h1{
    margin: 20px 0 50px;
    width: 100%;
    text-align: center;
}
