/* reset general property */
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
}

.center{
    min-height:100vh;
}

h1{
    color: #3366ff;
    font-size: 2.2em;
}

.errorFormFactor{
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: #ccc;
    border: 2px solid #d33;
    border-radius: 3px;
}